*{
    box-sizing: inherit;
}

nav{
    height: 50px;
    background-color: white;
}

.watermark{
    margin: auto;
    text-align: center;
}

body{
    background-color: black;
}

#highlight{
    color: red;
    font-size: 1.5em;
}

.box{
    height: 350px;
    width: 350px;
    color: white;
    overflow: hidden;
    margin: auto;
    margin-top: 50px;
}

.image{
    width: 300px;
    height: auto;
    background-color: white;
    border-radius: 50%;
    display: flex;
    margin: auto;
    margin-top: 80px;
}

#product-name{
    text-align: center;
    margin-top: 70px;
}

.image:hover{
    width: 350px;
    margin-top: 10px;
    transition: 1s;
}

